<div class="row">
    {{#each notes}}
    <div class="col-md-3 mt-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title d-flex justify-content-between align">
                    {{title}} <a href="/notes/edit/{{_id}}"><i class="fas fa-edit"></i></a>
                </h4>
                <p>{{description}}</p>
                <form action="/notes/delete/{{_id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-danger btn-block btn-sm">
                        Borrar
                    </button>
                </form>
            </div>
        </div>
    </div>
    {{else}}
    <div class="card mx-auto">
        <div class="card-body">
            <h1>Hola {{name}} </h1>
            <p class="lead">
                No hay notas aún.
            </p>
            <a href="/notes/add" class="btn btn-success btn-block">Crear Nota</a>
        </div>
    </div>
    {{/each}}
</div>
